/*
* This is a manifest file that includes stylesheets for spree_elasticsearch
 *= require ion.rangeSlider
 *= require ion.rangeSlider.skinFlat
*/

.facet {
  margin: 0px 0px 12px 0px;
  padding: 0px 0px 6px 0px; 
}
.facet h4 {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  background: #eee;
  margin: 0px;
  padding-left: 8px; 
}

.facet-box {
  padding: 3px 6px 6px 6px;
}

.slider {
  padding: 0px 5px 0px 5px;
}

.slider-input {
  text-align: center;
}

.slider-input input[type="text"] {
  width: 75px;
}

.facet ul {
  list-style-type: none; 
  padding: 0px;
  -webkit-margin-after: 0em;
}